<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-main">
      <div class="image">
        <div class="img-wrap">
          <% #TODO 商品イメージ %>
          <%= image_tag(@item.large_image, alt: @item.title) %>
         </div>
      </div>
      <div class="title">
        <% #TODO 商品タイトル %>
        <%= @item.title %>
      </div>
      <%= render 'action' , item: @item %>
    </div>
    
    <div class="item-single-side">
      <div class="side-box">
        <h4 class="side-box-title">Haveしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Haveしたユーザー一覧 %>
            <% @have_users.each do |have_users| %>
            <%= link_to gravatar_for(have_users, :size => 25) ,user_path(have_users) %>
            <% end %>
        </div>
      </div>
      <div class="side-box">
        <h4 class="side-box-title">Wantしたユーザー</h4>
        <div class="side-box-body">
          <% # TODO Wantしたユーザー一覧 %>
            <% @want_users.each do |want_users| %>
            <%= link_to gravatar_for(want_users, :size => 25) ,user_path(want_users) %>
            <% end %>
        </div>
      </div>
      <div class="text-center">
        <% #TODO 正しいリンク先に %>
        <%= link_to(image_tag("amazon-button.png", {alt: "Amazon詳細ページへ"}), @item.detail_page_url) %>
      </div>
    </div>
  </div>
</div>
